<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="4.0.0.26" />
  <package id="AWSSDK.DynamoDBv2" version="4.0.6.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>